#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: clip;
  .app-header {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    height: 26px;
    background-color: hsl(0, 0%, 20%);
    border-bottom: 1px solid hsl(0, 0%, 10%);
  }
}
